body{
    overflow-x: hidden;
}


.home-section nav .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
  }
  nav .sidebar-button i{
    font-size: 35px;
    margin-right: 10px;
  }


  @media (max-width: 700px) {
    nav .sidebar-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i{
      display: none;
    }
    .home-section nav .profile-details{
      height: 50px;
      min-width: 40px;
    }
    .home-content .sales-boxes .sales-details{
      width: 560px;
    }
  }


  .home-section nav .profile-details{
    display: flex;
    align-items: center;
    background: #F5F6FA;
    border: 2px solid #5AC400;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
    margin-left: 750px;
    cursor: pointer;
  }
  nav .header-img img{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    object-fit: cover;
  }
  nav .profile-details .admin_name{
    font-size: 15px;
    font-weight: 500;
    color: #5AC400;
    margin: 0 10px;
    white-space: nowrap;
  }
  nav .profile-details i{
    font-size: 25px;
    color: #5AC400;
  }

  .admin_name2{
    font-size: 15px;
    font-weight: 500;
    color: red;
    margin: 0 10px;
    white-space: nowrap;
  }

  .profile-details2{
    display: flex;
    align-items: center;
    background: #F5F6FA;
    border: 2px solid red;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
    margin-left: 750px;
    cursor: pointer;
  }

  /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0px dotted black; /* If you want dots under the hoverable text */
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #86ff71;
  font-family: 'Rubik';
  cursor: pointer;
  
}



/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  font-size: 13px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: 'Rubik';
  padding: 10px 10px 10px 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: -150px;
  left: -350px;
  /* left: 50%; */
  /* margin-left: -60px; */

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip i{
  color: #424244;
}

.red i {
  color: red;
}

.red p{
  color: red;
  font-family: 'Rubik';
  font-size: 13px;
}

.yellow i {
  color: yellow;
}

.yellow p{
  color: yellow;
  font-family: 'Rubik';
  font-size: 13px;
}

.orange i {
  color: orange;
}

.orange p{
  color: orange;
  font-family: 'Rubik';
  font-size: 13px;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 00%;
  left: 75%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

  nav .profile-details2 i{
    font-size: 25px;
    color: red;
  }


  .alert{
    background: #86ff71;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 330px;
    position: absolute;
    right: 0;
    top: 85px;
    border-radius: 2px;
    /* border-left: 8px solid red; */
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
  }
  .alert.showAlert{
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
  }
  .alert.show{
    animation: show_slide 1s ease forwards;
    z-index: 9999;
  }
  @keyframes show_slide {
    0%{
      transform: translateX(100%);
    }
    40%{
      transform: translateX(-10%);
    }
    80%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(-10px);
    }
  }
  .alert.hide{
    animation: hide_slide 1s ease forwards;
  }
  @keyframes hide_slide {
    0%{
      transform: translateX(-10px);
    }
    40%{
      transform: translateX(0%);
    }
    80%{
      transform: translateX(-10%);
    }
    100%{
      transform: translateX(100%);
    }
  }
  .alert .fa-exclamation-circle{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #141517;
    font-size: 18px;
  }
  .alert .msg{
    padding: 0 20px;
    font-size: 15px;
    font-family: 'Rubik';
    color: #141517;
  }
  .alert .close-btn{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: #86ff71;
    padding: 20px 18px;
   
    cursor: pointer;
  }
/* .alert .close-btn:hover{
    background: red; 
}*/

.alert .close-btn .fas{
    color: #141517;
    font-size: 15px;
    line-height: 40px;
}