@font-face {
    font-family: "Anurati";
    src: url("Anurati-Regular.otf");
  }
  
  @font-face {
    font-family: "Azonix";
    src: url("Azonix.otf");
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #121317;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.308);
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #86ff71;
  }
 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
  }
  
.topic{
  padding: 5px;
  padding-bottom: 15px;
  font-size: 13px;
}
.topic i{
  padding-left: 10px;
  padding-right: 10px;
}
.topic h2{
  font-style: normal;
  font-weight: 100;
}

form {
  width: 100%;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border: 0px solid rgba(95, 95, 95, 0.122);
  margin-top: 10px;
  border-radius: 0.5rem;
}

.separator .hr{
  color: rgb(24,24,24);
}
.name {
  display: flex;
  align-items: center;
  text-align: center;
  align-self: center;
}
  
.name_input {
  border: 1px solid rgb(24,24,24);
  color: rgb(24,24,24);
  outline: none;
  background: none;
  z-index: 1;
  font-family: "Rubik";
  width: 100%;
  height: 45px;
  padding-left: 10px;
  margin-right: 20px;
  font-size: 15px;
  position: relative;
}
  
  .name_input2 {
    border: 1px solid rgb(24,24,24);
    color: rgb(24,24,24);
    outline: none;
    background: none;
    z-index: 1;
    font-family: "Rubik";
    width: 100%;
    height: 45px;
    padding-left: 10px;
    /* margin-right: 20px; */
    font-size: 15px;
  }
  
  input[type="date"] {
    width: 240px;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8);
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
  }
  
  .form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 0px;
    border: 1px solid rgb(24,24,24);
    color: rgb(24,24,24);
    outline: none;
    background: none;
    z-index: 1;
    font-family: "Rubik";
  }
  
  .injury {
    position: absolute;
    width: 100%;
    height: 100px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border: 1px solid rgb(24,24,24);
    color: rgb(24,24,24);
    outline: none;
    background: none;
    z-index: 1;
    font-family: "Rubik";
  }
  
  textarea {
    resize: none;
  }
  
  .float {
    float: left;
    display: flex;
    flex-direction: column;
  }
  
  .form__div {
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
    width: 100%;
    margin-right: 20px;
  }
  
  .inj__div {
    position: relative;
    height: 100px;
    margin-bottom: 1.5rem;
  }
  
  .form__div.success input {
    border-color: #2ecc70;
  }
  
  .inj__div.success textarea {
    border-color: #2ecc70;
  }
  
  .form__div.error input {
    border-color: #e74c3c;
  }
  
  .inj__div.error textarea {
    border-color: #e74c3c;
  }
  
#wrong ,#right{
  left: 215px;
}

.inj__div i,
.select__div i,
.form__div i {
  visibility: hidden;
  position: absolute;
  top: 15px;
  right: 25px;
}

  .form__div.success i.fa-check {
    color: #2ecc71;
    visibility: visible;
    padding:0;
    width: 18px;
  }
  
  .select__div.success i.fa-check {
    color: #2ecc71;
    visibility: visible;
    padding:0;
    width: 18px;
  }
  
  .inj__div.success i.fa-check {
    color: #2ecc71;
    visibility: visible;
    padding:0;
    width: 18px;
  }
  .form__div.error i.fa-exclamation-triangle {
    color: #e74c3c;
    visibility: visible;
  }
  
  .select__div.error i.fa-exclamation-triangle {
    color: #e74c3c;
    visibility: visible;
  }
  
  .inj__div.error i.fa-exclamation-triangle {
    color: #e74c3c;
    visibility: visible;
  }
  
  
  .inj__div small,
  .select__div small,
  .form__div small {
    color: #e74c3c;
    position: absolute;
    bottom: -15px;
    left: 0;
    visibility: hidden;
  }
  
  .inj__div.error small,
  .select__div.error small,
  .form__div.error small {
    visibility: visible;
  }
  
.form__label,
option {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: rgb(24,24,24);
    font-size: 14px;
    transition: 0.2s;
    font-family: "Azonix";
}
.form__button {
  margin-top: 8px;
  margin-bottom: 8px;
  display: block;
  margin-left: auto;
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  background-color: #86ff71;
  font-family: "Azonix";
  color: #000;
  
  font-size: 12px;
  cursor: pointer;
  transition: 0.5s;
  width: 180px;
  align-items: center;
  border-radius: 50px;
}
  
.buttondiv {
  margin-top: 0px;
}
  
  /*Input focus move up label*/
  .form__input:focus + .form__label {
    top: -0.5rem;
    left: 0.8rem;
    color: rgb(24,24,24);
    font-size: 11px;
    font-weight: 500;
    z-index: 10;
  }
  
  .injury:focus + .form__label {
    top: -0.5rem;
    left: 0.8rem;
    color: rgb(24,24,24);
    font-size: 11px;
    font-weight: 500;
    z-index: 10;
  }
  
  .name_input:focus + .form__label {
    top: -0.5rem;
    left: 0.8rem;
    color: rgb(24,24,24);
    font-size: 11px;
    font-weight: 500;
    z-index: 10;
  }
  
  /*Input focus sticky top label*/
  .form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
    top: -0.5rem;
    left: 0.8rem;
    font-weight: 500;
    z-index: 10;
    color: rgb(24,24,24);
    font-size: 11px;
  }
  
  .injury:not(:placeholder-shown).injury:not(:focus) + .form__label {
    top: -0.5rem;
    left: 0.8rem;
    font-weight: 500;
    z-index: 10;
    color: rgb(24,24,24);
    font-size: 11px;
  }
  
  .name_input:not(:placeholder-shown).name_input:not(:focus) + .form__label {
    top: -0.5rem;
    left: 0.8rem;
    font-weight: 500;
    z-index: 10;
    color: rgb(24,24,24);
    font-size: 11px;
  }
  
  /*Input focus*/
  .form__input:focus {
    border: 1px solid rgb(24,24,24);
  }
  
  .injury:focus {
    border: 1px solid rgb(24,24,24);
  }
  
  .name_input:focus {
    border: 1px solid rgb(24,24,24);
  }
  
  .name_input2:focus + .form__label {
    top: -0.5rem;
    left: 0.8rem;
    color: rgb(24,24,24);
    font-size: 11px;
    font-weight: 500;
    z-index: 10;
  }
  
  /*Input focus sticky top label*/
  
  .name_input2:not(:placeholder-shown).name_input2:not(:focus) + .form__label {
    top: -0.5rem;
    left: 0.8rem;
    font-weight: 500;
    z-index: 10;
    color: rgb(24,24,24);
    font-size: 11px;
  }
  
  .hover {
    color: rgb(24,24,24)d5;
    text-decoration: none;
  }
  
  .hover:hover {
    color: rgb(24,24,24);
  }
  
  .remember {
    margin-bottom: 10px;
    margin-top: 60px;
    font-weight: 400;
    font-size: 15px;
    color: rgb(24,24,24);
    font-family: "Rubik";
  }
  
  .remember label span {
    color: rgb(24,24,24);
  }
  
  .signup p {
    margin-top: 10px;
    width: 100%;
    /* display: flex; */
    color: rgb(24,24,24);
    float: left;
    font-size: 15px;
    font-family: "Rubik";
    /* justify-content: center; */
  }
  
  .select__div {
    position: relative;
    height: 45px;
    margin-bottom: 1.5rem;
    /* width: 100%; */
    font-size: 15px;
    width: 100%;
    margin-right: 20px;
  }
  
  .select_trainer {
    position: relative;
    height: 45px;
    margin-bottom: 1.5rem;
    /* width: 100%; */
    width: 100%;
    font-size: 15px;
    /* width: 500px; */
    /* margin-right: 20px; */
  }
  
  
  select::-ms-expand{
    display: none;
    }
    
  .select__div:after {
      content: '<>';
      font: 17px "Consolas", monospace;
      /* color: rgb(24,24,24); */
      color: rgb(24,24,24);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      right: 10px;
      /*Adjust for position however you want*/
      
      top: 11px;
      /* padding: 0 0 2px; */
      border-bottom: 3px solid rgb(24,24,24);
      /*left line */
      
      position: absolute;
      pointer-events: none;
    }
   
  #uname_response{
      font-family: 'Azonix';
      font-size: 12px;
      padding-top: 49px;
      padding-left: 420px;
  }
  
  .select__div select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      
      font-size: 14px;
      transition: 0.2s;
      font-family: "Azonix";
  
      display: block;
      width: 100%;
      height: 45px;
      float: left;
      text-align: left;
      /* margin: 5px 0px; */
      padding: 0px 16px;
      /* font-size: 16px; */
      line-height: 1.75;
      /* color: rgb(24,24,24); */
      color: rgb(24,24,24);
      background-color: transparent;
      background-image: none;
      border: 1px solid rgb(24,24,24);
      -ms-word-break: normal;
      word-break: normal;
    }
  

  .divider {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .separator {
    position: relative;
    width: 100%;
  }
  

/*------------Horizontal Ruler-------------------*/
  .hr-text {
    position: relative;
    display: block;
    font-family: "Azonix";
    /* padding: 0 .5em; */
    line-height: 1.5em;
    color: rgb(24,24,24);
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
    /* top: .5em; */
  }
  
    .container {
      display: block;
      position: relative;
      padding-left: 25px;
      margin-bottom: 12px;
      margin-top:-5px;
      cursor: pointer;
      font-size: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: rgb(24,24,24);
    }
    
    /* Hide the browser's default checkbox */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      width: 15px;
      /* background-color: rgb(24,24,24); */
      background-color: rgb(24,24,24);
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
      background-color: rgb(24,24,24);
    }
    
    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: #86FF71;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the checkmark/indicator */
    .container .checkmark:after {
      left: 4px;
      top: 0px;
      width: 3px;
      height: 10px;
      border: solid rgb(0, 0, 0);
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  
   
  
  