@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@font-face {
    font-family: "Anurati";
    src: url("Anurati-Regular.otf");
    }
    
@font-face {
        font-family: "Azonix";
        src :url("Azonix.otf");
    
        }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .img {
    position: relative;
    width: 50%;
    height: 100%;
    background: url(../media/background.jpg) ;
    background-size: cover;
    background-repeat: no-repeat; 
}

section .img .head {
    color: #fff;
    text-align: center;
    padding-top: 75px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Anurati';
}

section .img .head3 {
    color: #86ff71;
    text-align: center;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    /* font-weight: bold; */
    font-family: 'Anurati';
}

section .img .head4 {
    color: #ffffff;
    text-align: left;
    padding-top: 350px;
    padding-left: 80px;
    font-size: 20px;
    /* font-weight: bold; */
    letter-spacing: 3px;
    text-decoration: underline;
    font-family: 'Azonix';

}

section .img .head5 {
    color: #bfd0d8;
    text-align: left;
    padding-top: 300px;
    padding-left: 80px;
    font-size: 35px;
    letter-spacing: 3px;
    /* font-weight: bold; */
    font-family: 'Azonix';
}

section .img .head5 span {
    color: #86ff71;
    font-family: 'Azonix';
    font-style: italic;
}

section .img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #141517;

}

/* h1{
    margin: 0;
} */

.l-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.form{
    width: 400px;
    padding: 4rem 2rem;
    border: none;
    border-radius: 1rem;
    /* box-shadow: 1px 1px 0px 0px #146905; */
}
.form__title{
    font-weight: 400;
    margin-bottom: 3rem;
    color: #80868B;
    border-bottom: 3px solid #86ff71;
    
    font-family: 'Azonix';
    padding-bottom: 5px;
}
.form__div{
    position: relative;
    height: 48px;
    margin-bottom: 25px;
}

.form__div small{
    font-family: 'Azonix';
    font-size: 12px;
}

.form__div.success input{
    border-color: #86ff71;
}

.form__div.error input{
    border-color: #e74c3c;
} 

.form__div i{
    visibility: hidden;
    position: absolute;
    top: 15px;
    right: 10px;
}

.form__div.success i.fa-check {
    color: #86ff71;
    visibility: visible;
}

.form__div.error i.fa-exclamation-triangle {
    color: #e74c3c;
    visibility: visible;
}

.form__div small {
    color: #e74c3c;
    position: absolute;
    bottom: -15px;
    left: 0;
    visibility: hidden;
}

.form__div.error small{
    visibility: visible;
}

.form__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid #80868B;
    /* border-radius: .5rem ; */
    color: #80868B;
    outline: none;
    /* padding: 1rem; */
    background: none;
    z-index: 1;
    font-family: 'Poppins';
}
.form__label{
    position: absolute;
    left: 1rem;
    top: 1rem;
    /* padding: 0 .25rem; */
    color: #80868B;
    background-color: #141517;
    /* color: var(--input-color); */
    font-size: 14px;
    transition: .2s;
    font-family: 'Azonix';
    display: inline-block;
}
.form__button{
    display: block;
    margin-left: auto;
    /* float: none; */
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: #39FF14;
    font-family: 'Azonix';
    color: #000;
    font-weight: bold;
    font-size: var(--normal-font-size);
    /* border-radius: .5rem; */
    cursor: pointer;
    transition: .5s;
    width: 100%;
    align-items: center;
}


/*Input focus move up label*/
.form__input:focus + .form__label{
    top: -.5rem;
    left: .8rem;
    color :#86ff71;
    font-size: 11px;
    font-weight: 500;
    z-index: 10;
}

/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
    top: -.5rem;
    left: .8rem;
    font-size: 11px;
    font-weight: 500;
    color :#86ff71;
    z-index: 10;
}

/*Input focus*/
.form__input:focus{
    border: 1px solid #86ff71
}

.hover{
    color: #86ff71d5;
    text-decoration: none;
}

.hover:hover{
    color: #86ff71;
}

.remember {
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 15px;
    color: #80868B;
    font-family: 'Rubik', sans-serif;
    
}

.remember a{
    float: right;
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
    
}

.signup p{
    margin-top: 10px;
    width: 100%;
    /* display: flex; */
    color: #80868B;
    float: left;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    /* justify-content: center; */
}



.icon{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease-in-out; 
    /* margin: 5px 2px; */
}

.fa-check{
    padding: 0;
}

.fa-exclamation-triangle{
    width: 35px;
}

.fa:hover { transform: scale(1.1); }


.fa-facebook {
    /* background: #3B5998; */
    color: #80868B;
    
}

.fa-twitter {
    /* background: #55ACEE; */
    color: #80868B;
}

.fa-google {
    /* background: #dd4b39; */
    color: #80868B;
}

.fa-instagram, .fa-whatsapp {
    /* background: #125688; */
    color: #80868B;
}

.homeIcon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 40px;
}


.homeIcon a{
    text-decoration: none;
    font-size: 15px;
    text-decoration: none;
    color: #86ff71;
}

.fa-backward {
    background-color: transparent;
    border: none;
    color: #86ff71;
    font-size: 20px;
    padding-left: 80px;
    padding-bottom: 0;
    padding-top: 100px;
    cursor: pointer;
    text-decoration: none;
}

  /* Darker background on mouse-over */
.fa-backward:hover {
    color: #86ff71d5;
}

.homeIcon a:hover {
    color: #86ff71d5;
}




